.thumbnail-select {
    cursor: pointer;
}
.img-container {
    border: 1px dashed;
    padding: 20px;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img-container .img-container-lbl {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.img-container .img-container-lbl:hover {
    transform: scale(0.99);
    color: #30419b;
}

.img-wrapper {
    position: relative;
    padding: 5px;
}

.img-remove {
    position: absolute;
    top: 0;
    right: 0;
    margin: 12px 25px;
    border: 1px solid #fff;
    padding: 0px 5px;
    border-radius: 50%;
    background-color: white !important;
}

.action::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    transition: all 0.3s ease-in-out;
}

.action-loading {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.avatar img {
    box-shadow: 0 0 2px 0 #ccc;
    border-radius: 50%;
}
.action-links a:nth-child(even) {
    margin: 0px 10px;
}
